<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include
    filename="$(find clearpath_sensors_description)/urdf/ouster_os1.urdf.xacro"/>

  <xacro:ouster_os1
    name="lidar3d_0"
    parent_link="disk_0_mount"
    samples_v="128">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:ouster_os1>
</robot>
